.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &--desktop {
    padding: 2rem;
  }

  &--mobile {
    flex-wrap: wrap;
    padding: 1rem;
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  &--desktop {
    margin-bottom: 0;
  }

  &--mobile {
    margin-bottom: 1rem;
  }

  .search-input {
    &--desktop {
      width: 15%;
      margin: 0.5rem 0.5rem;
    }

    &--mobile {
      width: 100%;
      margin: 0 0.5rem;
    }
  }

  .search-button {
    color: white;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;

    &--desktop {
      margin: 0.5rem 0.5rem;
    }

    &--mobile {
      width: 100%;
      margin: 0 0.5rem;
    }
  }
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;

  h3 {
    color: rgba(0, 0, 0, 0.4);
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
  }

  button {
    // color: white;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
  }
}

.events-container {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 0.5rem 1rem;

  &--mobile {
    width: 89%;
    overflow: auto;
  }

  .table {
    &__cell {
      padding: 0 1rem;
      min-width: 100px;
      font-family: Quicksand;

      .date-hours {
        color: #979797;
        font-size: 12px;
      }
    }
  }
}
