<div>
  <!-- <h2 mat-dialog-title>Vizor PDF</h2> -->
  <mat-dialog-content style="overflow-y: hidden">
    <iframe
      [src]="getUrlSnippet()"
      style="width: 100%; min-height: 700px"
      frameborder="0"
      
    ></iframe>
    <!-- <pdf-viewer
      [src]="data.fileURL ? data.fileURL : data"
      [render-text]="true"
      [original-size]="false"
      style="width: 100%; min-height: 700px"
    ></pdf-viewer> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close autofocus>Cerrar</button>
  </mat-dialog-actions>
</div>
