.info {
  display: flex;
  justify-content: center;
  padding: 12px 6px;
  background-color: #2f80ed26;
  border-radius: 10px;

  span {
    font-family: "Quicksand";
    font-size: 12px;
    font-weight: 400;
    color: #2b2b2b;
  }
}
