<div
  class="container"
  ngClass.sm="container--mobile"
  ngClass.xs="container--mobile"
>
  <div class="wrapper">
    <div
      class="wrapper__status"
      *ngIf="provider"
      ngStyle.xs="margin-right: 20px;"
      fxLayout.xs="column"
      fxLayoutAlign.xs="center center"
    >
      <button
        [ngClass]="{
          'wrapper__status--registered': provider.status === 'registered',
          'wrapper__status--enabled': provider.status === 'enabled',
          'wrapper__status--disabled': provider.status === 'disabled'
        }"
        cdkFocusInitial
        ngStyle.xs="width: 100%;"
      >
        <span *ngIf="provider.status === 'registered'">REGISTRADO</span>
        <span *ngIf="provider.status === 'enabled'">HABILITADO</span>
        <span *ngIf="provider.status === 'disabled'">INHABILITADO</span>
      </button>
      <ng-container *ngIf="validateDocument$ | async as docs">
        <div
          ngStyle.lg="margin-left: 15px;"
          ngStyle.md="margin-left: 15px;"
          fxLayout.lg="row"
          fxLayoutAlign.lg="start start"
          fxLayout.md="row"
          fxLayoutAlign.md="start start"
        >
          <div class="documents">
            <div class="documents__wrapper">
              <!-- Covid Validate Documents -->
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.covidDocuments[0].exists"
                (click)="openModalValidateDocumennts('covid')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">Plan COVID</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.covidDocuments[1].exists"
                (click)="openModalValidateDocumennts('covid')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">Plan COVID</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.covidDocuments[2].exists"
                (click)="openModalValidateDocumennts('covid')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">Plan COVID</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.covidDocuments[3].exists"
                (click)="openModalValidateDocumennts('covid')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">Plan COVID</span>
              </button>
              <!-- IPERC Validate Documents -->

              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.ipercDocuments[0].exists"
                (click)="openModalValidateDocumennts('iperc')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">IPERC</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.ipercDocuments[1].exists"
                (click)="openModalValidateDocumennts('iperc')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">IPERC</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.ipercDocuments[2].exists"
                (click)="openModalValidateDocumennts('iperc')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">IPERC</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.ipercDocuments[3].exists"
                (click)="openModalValidateDocumennts('iperc')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">IPERC</span>
              </button>

              <!-- ATS Validate Documents -->
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.atsDocuments[0].exists"
                (click)="openModalValidateDocumennts('ats')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">ATS y PTAR</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.atsDocuments[1].exists"
                (click)="openModalValidateDocumennts('ats')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">ATS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.atsDocuments[2].exists"
                (click)="openModalValidateDocumennts('ats')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">ATS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.atsDocuments[3].exists"
                (click)="openModalValidateDocumennts('ats')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">ATS</span>
              </button>
            </div>

            <div class="documents__wrapper">
              <!-- LOTO Validate Documents -->
              <button
                ngStyle.xs="width: 100%;text-align: justify; margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.lotoDocuments[0].exists"
                (click)="openModalValidateDocumennts('loto')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">Plan de emergencia</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify; margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.lotoDocuments[1].exists"
                (click)="openModalValidateDocumennts('loto')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">Plan de emergencia</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify; margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.lotoDocuments[2].exists"
                (click)="openModalValidateDocumennts('loto')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">Plan de emergencia</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify; margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.lotoDocuments[3].exists"
                (click)="openModalValidateDocumennts('loto')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">Plan de emergencia</span>
              </button>

              <!-- PROCEDURES Validate Documents -->
              <button
                ngStyle.xs="width: 100%;text-align: justify; margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.proceduresDocuments[0].exists"
                (click)="openModalValidateDocumennts('procedures')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">PETS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.proceduresDocuments[1].exists"
                (click)="openModalValidateDocumennts('procedures')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">PETS</span>
              </button>
              <button
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.proceduresDocuments[2].exists"
                (click)="openModalValidateDocumennts('procedures')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">PETS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.proceduresDocuments[3].exists"
                (click)="openModalValidateDocumennts('procedures')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">PETS</span>
              </button>

              <!-- MSDS Validate Documents -->
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.msdsDocuments[0].exists"
                (click)="openModalValidateDocumennts('msds')"
              >
                <mat-icon class="wrapper__status--btn__approved"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">MSDS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.msdsDocuments[1].exists"
                (click)="openModalValidateDocumennts('msds')"
              >
                <mat-icon class="wrapper__status--btn__pending-revicion"
                  >rate_review</mat-icon
                >
                <span class="wrapper__status--text">MSDS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.msdsDocuments[2].exists"
                (click)="openModalValidateDocumennts('msds')"
              >
                <mat-icon class="wrapper__status--btn__rejected"
                  >cancel</mat-icon
                >
                <span class="wrapper__status--text">MSDS</span>
              </button>
              <button
                ngStyle.xs="width: 100%;text-align: justify;margin-bottom: 8px;"
                ngStyle.lg="margin-left: 30px;"
                ngStyle.lg="margin-left: 30px;"
                type="button"
                mat-button
                class="wrapper__status--btn"
                *ngIf="docs.msdsDocuments[3].exists"
                (click)="openModalValidateDocumennts('msds')"
              >
                <mat-icon class="wrapper__status--btn__pending"
                  >check_circle</mat-icon
                >
                <span class="wrapper__status--text">MSDS</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div
      class="wrapper-container"
      [ngClass]="
        isMobile ? 'wrapper-container--mobile' : 'wrapper-container--desktop'
      "
    >
      <div
        class="wrapper__body"
        [ngClass]="
          isMobile ? 'wrapper__body--mobile' : 'wrapper__body--desktop'
        "
      >
        <mat-card class="cards">
          <div
            class="cards__header"
            [ngClass]="
              isMobile ? 'cards__header--mobile' : 'cards__header--desktop'
            "
          >
            <h3
              class="cards__header--title"
              [ngClass]="
                isMobile
                  ? 'cards__header--title--mobile'
                  : 'cards__header--title--desktop'
              "
            >
              SCTR
            </h3>
            <mat-form-field
              appearance="fill"
              class="cards__header--input"
              [ngClass]="
                isMobile
                  ? 'cards__header--input--mobile'
                  : 'cards__header--input--desktop'
              "
            >
              <input
                matInput
                type="text"
                [formControl]="searchSCTR"
                placeholder="Buscar"
                autocomplete="off"
              />
            </mat-form-field>
            <span class="fill"></span>
            <button
              mat-button
              class="cards__header--btn-add"
              [ngClass]="
                isMobile
                  ? 'cards__header--btn-add--mobile'
                  : 'cards__header--btn-add--desktop'
              "
              (click)="addSCTR()"
            >
              <mat-icon class="cards__header--icon">add</mat-icon>
              <span>Agregar nuevo</span>
            </button>
          </div>
          <hr class="cards__divider" />
          <div class="cards__body" *ngIf="sctr$ | async as arraySctr">
            <!--  (item.editedAt['seconds'] * 1000 | date : 'dd/MM/yy') -->

            <div
              class="card"
              ngStyle.xs="height: 93px; width:275px;"
              *ngFor="let item of arraySctr"
            >
              <div *ngIf="!deviceXs" class="card__codigo">
                Codigo :<span class="card__codigo--text">{{ item.code }}</span>
              </div>
              <div *ngIf="!deviceXs" class="card__validity">
                Vigencia:<span class="card__validity--text">{{
                  item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                }}</span>
              </div>
              <div *ngIf="!deviceXs" class="card__collaborator">
                Colaboradores :<span class="card__collaborator--text">{{
                  item.collaborators.length
                }}</span>
              </div>

              <div *ngIf="deviceXs">
                <div class="card__codigo">
                  Codigo :<span class="card__codigo--text">{{
                    item.code
                  }}</span>
                </div>
                <div class="card__validity">
                  Vigencia:<span class="card__validity--text">{{
                    item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                  }}</span>
                </div>
                <div class="card__collaborator" ngStyle.xs="margin-left:15px">
                  Colaboradores :<span class="card__collaborator--text">{{
                    item.collaborators.length
                  }}</span>
                </div>
              </div>

              <button class="card__menu" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openVizorPdf(item.sctrFile)">
                  Ver documento
                </button>
                <button mat-menu-item (click)="editSCTR(item)">Editar</button>
                <button mat-menu-item (click)="deleteSCTR(item)">Borrar</button>
              </mat-menu>
            </div>
          </div>
        </mat-card>

        <mat-card class="cards">
          <div
            class="cards__header"
            [ngClass]="
              isMobile ? 'cards__header--mobile' : 'cards__header--desktop'
            "
          >
            <h3
              class="cards__header--title"
              [ngClass]="
                isMobile
                  ? 'cards__header--title--mobile'
                  : 'cards__header--title--desktop'
              "
            >
              Seguro VL
            </h3>
            <mat-form-field
              appearance="fill"
              class="cards__header--input"
              [ngClass]="
                isMobile
                  ? 'cards__header--input--mobile'
                  : 'cards__header--input--desktop'
              "
            >
              <input
                matInput
                type="text"
                [formControl]="searchVL"
                placeholder="Buscar"
                autocomplete="off"
              />
            </mat-form-field>
            <span class="fill"></span>
            <button
              mat-button
              class="cards__header--btn-add"
              [ngClass]="
                isMobile
                  ? 'cards__header--btn-add--mobile'
                  : 'cards__header--btn-add--desktop'
              "
              (click)="addSegVidaLey()"
            >
              <mat-icon class="cards__header--icon">add</mat-icon>
              Agregar nuevo
            </button>
          </div>
          <hr class="cards__divider" />
          <div class="cards__body" *ngIf="seguroVL$ | async as arraySeguroVL">
            <div
              class="card"
              ngStyle.xs="height: 93px; width:275px;"
              *ngFor="let item of arraySeguroVL"
            >
              <div *ngIf="deviceXs">
                <div class="card__codigo">
                  Codigo :<span class="card__codigo--text">{{
                    item.code
                  }}</span>
                </div>
                <div class="card__validity">
                  Vigencia:<span class="card__validity--text">{{
                    item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                  }}</span>
                </div>
                <div class="card__collaborator" ngStyle.xs="margin-left:15px">
                  Colaboradores :<span class="card__collaborator--text">{{
                    item.collaborators.length
                  }}</span>
                </div>
              </div>
              <div *ngIf="!deviceXs" class="card__codigo">
                Codigo :<span class="card__codigo--text">{{ item.code }}</span>
              </div>
              <div *ngIf="!deviceXs" class="card__validity">
                Vigencia:<span class="card__validity--text">{{
                  item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                }}</span>
              </div>
              <div class="card__collaborator" *ngIf="!deviceXs">
                Colaboradores :<span class="card__collaborator--text">{{
                  item.collaborators.length
                }}</span>
              </div>
              <button class="card__menu" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openVizorPdf(item.svlFile)">
                  Ver documento
                </button>
                <button mat-menu-item (click)="editSegVidaLey(item)">
                  Editar
                </button>
                <button mat-menu-item (click)="deleteSVL(item)">Borrar</button>
              </mat-menu>
            </div>
          </div>
        </mat-card>

        <mat-card class="cards">
          <div
            class="cards__header"
            [ngClass]="
              isMobile ? 'cards__header--mobile' : 'cards__header--desktop'
            "
          >
            <h3
              class="cards__header--title"
              [ngClass]="
                isMobile
                  ? 'cards__header--title--mobile'
                  : 'cards__header--title--desktop'
              "
            >
              Declaración jurada
            </h3>
            <mat-form-field
              appearance="fill"
              class="cards__header--input"
              [ngClass]="
                isMobile
                  ? 'cards__header--input--mobile'
                  : 'cards__header--input--desktop'
              "
            >
              <input
                matInput
                type="text"
                [formControl]="searchSwormDeclaration"
                placeholder="Buscar"
                autocomplete="off"
              />
            </mat-form-field>
            <span class="fill"></span>
            <button
              mat-button
              class="cards__header--btn-add"
              [ngClass]="
                isMobile
                  ? 'cards__header--btn-add--mobile'
                  : 'cards__header--btn-add--desktop'
              "
              (click)="addSwornDeclaration()"
            >
              <mat-icon class="cards__header--icon">add</mat-icon>
              Agregar nuevo
            </button>
          </div>
          <hr class="cards__divider" />

          <div
            class="cards__body"
            *ngIf="swornDeclaration$ | async as swornDeclaration"
          >
            <div
              class="card"
              ngStyle.xs="height: 93px; width: 278px;"
              *ngFor="let item of swornDeclaration"
            >
              <div *ngIf="deviceXs">
                <div class="card__codigo">
                  Codigo :<span class="card__codigo--text">{{
                    item.code
                  }}</span>
                </div>
                <div class="card__validity">
                  Vigencia:<span class="card__validity--text">{{
                    item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                  }}</span>
                </div>
                <div class="card__collaborator" ngStyle.xs="margin-left:15px">
                  Colaboradores :<span class="card__collaborator--text">{{
                    item.collaborators.length
                  }}</span>
                </div>
              </div>
              <div *ngIf="!deviceXs" class="card__codigo">
                Codigo :<span class="card__codigo--text">{{ item.code }}</span>
              </div>
              <div *ngIf="!deviceXs" class="card__validity">
                Vigencia:<span class="card__validity--text">{{
                  item.validityDate.seconds * 1000 | date: "dd/MM/yy"
                }}</span>
              </div>
              <div *ngIf="!deviceXs" class="card__collaborator">
                Colaboradores :<span class="card__collaborator--text">{{
                  item.collaborators.length
                }}</span>
              </div>

              <button
                class="card__menu"
                mat-button
                [matMenuTriggerFor]="swornDeclarationMenu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #swornDeclarationMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="openVizorPdf(item.swornDeclarationFile!)"
                >
                  Ver documento
                </button>
                <button mat-menu-item (click)="updateSwornDeclaration(item)">
                  Editar
                </button>
                <button mat-menu-item (click)="deleteSwornDeclaration(item)">
                  Borrar
                </button>
              </mat-menu>
            </div>
          </div>
        </mat-card>
      </div>
      <div
        class="wrapper__body"
        [ngClass]="
          isMobile ? 'wrapper__body--mobile' : 'wrapper__body--desktop'
        "
      >
        <mat-card class="cards2">
          <div
            class="cards2__header"
            [ngClass]="
              isMobile ? 'cards2__header--mobile' : 'cards2__header--desktop'
            "
          >
            <h3
              class="cards2__header--title"
              [ngClass]="
                isMobile
                  ? 'cards2__header--title--mobile'
                  : 'cards2__header--title--desktop'
              "
            >
              Colaboradores
            </h3>
            <mat-form-field
              appearance="fill"
              class="cards2__header--input"
              [ngClass]="
                isMobile
                  ? 'cards2__header--input--mobile'
                  : 'cards2__header--input--desktop'
              "
            >
              <input
                matInput
                type="text"
                [formControl]="searchCollaborator"
                placeholder="Buscar"
                autocomplete="off"
              />
            </mat-form-field>
            <span class="fill"></span>
            <button
              mat-button
              class="cards2__header--btn-add"
              [ngClass]="
                isMobile
                  ? 'cards2__header--btn-add--mobile'
                  : 'cards2__header--btn-add--desktop'
              "
              (click)="addCollaborator()"
            >
              <mat-icon class="cards__header--icon">add</mat-icon>
              Agregar nuevo
            </button>
          </div>
          <mat-progress-bar
            *ngIf="loading$ | async"
            mode="indeterminate"
          ></mat-progress-bar>
          <div
            class="cards2__body"
            ngStyle.xs=" width: 302px;"
            *ngIf="profileCollaborator$ | async as elemets"
          >
            <div
              class="card2"
              *ngFor="let item of elemets"
              [ngClass]="
                item.entryDeparture === 'inside'
                  ? 'card2--inside'
                  : 'card2--outside'
              "
            >
              <div class="card2__header">
                <div *ngIf="deviceXs">
                  <div class="card2__name">
                    Nombre :<span class="card2__name--text">
                      {{ item.name }} {{ item.lastname }}</span
                    >
                  </div>
                  <div class="card2__position" ngStyle.xs="margin-left: -1px;">
                    Cargo:<span class="card2__position--text">{{
                      item.jobTitle
                    }}</span>
                  </div>

                  <div class="card2__dni">
                    DNI :<span class="card2__dni--text">{{ item.dni }}</span>
                  </div>
                </div>
                <div *ngIf="!deviceXs" class="card2__name">
                  Nombre :<span class="card2__name--text">
                    {{ item.name }} {{ item.lastname }}</span
                  >
                </div>
                <div *ngIf="!deviceXs" class="card2__position">
                  Cargo:<span class="card2__position--text">{{
                    item.jobTitle
                  }}</span>
                </div>
                <div *ngIf="!deviceXs" class="card2__dni">
                  DNI :<span class="card2__dni--text">{{ item.dni }}</span>
                </div>
                <button
                  class="card2__menu"
                  mat-button
                  [matMenuTriggerFor]="menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="openVizorPdf(item.medicalExaminationFile!)"
                  >
                    Ver documento examen médico
                  </button>
                  <button
                    mat-menu-item
                    (click)="openVizorPdf(item.vaccinationCardFile!)"
                  >
                    Ver carnet de vacunación
                  </button>
                  <button mat-menu-item (click)="openVizorPdf(item.sctrFile!)">
                    Ver SCTR
                  </button>
                  <button mat-menu-item (click)="openVizorPdf(item.svlFile!)">
                    Ver Seguro vida ley
                  </button>
                  <button
                    mat-menu-item
                    (click)="openVizorPdf(item.swornDeclarationFile!)"
                  >
                    Ver Declaración jurada
                  </button>
                  <button
                    mat-menu-item
                    (click)="checkDrives(item.id, item.dni)"
                  >
                    Consultar Drives
                  </button>
                  <button mat-menu-item (click)="editCollaborator(item)">
                    Editar
                  </button>
                  <button mat-menu-item (click)="deleteCollaborator(item)">
                    Borrar
                  </button>
                </mat-menu>
              </div>

              <div class="documents-container">
                <div class="documents-container__item">
                  <div class="documents-container__item--text">SCTR</div>
                  <mat-icon
                    *ngIf="item.sctrStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.sctrStatus === 'pending'"
                    class="documents-container__item--icon-pending"
                    matTooltip="En revisión"
                    >check_circle</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.sctrStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.sctrStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.sctrStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Expirado"
                  >
                    alarm</mat-icon
                  >
                </div>
                <div class="documents-container__item">
                  <div class="documents-container__item--text">Seguro VLC</div>
                  <mat-icon
                    *ngIf="item.svlStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.svlStatus === 'pending'"
                    class="documents-container__item--icon-pending"
                    matTooltip="En revisión"
                    >check_circle</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.svlStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.svlStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.svlStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Expirado"
                  >
                    alarm</mat-icon
                  >
                </div>
                <div class="documents-container__item">
                  <div class="documents-container__item--text">D. Jurada</div>
                  <mat-icon
                    *ngIf="item.swornDeclarationStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.swornDeclarationStatus === 'pending'"
                    class="documents-container__item--icon-pending"
                    >check_circle</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.swornDeclarationStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.swornDeclarationStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.swornDeclarationStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Sin asignar"
                  >
                    alarm</mat-icon
                  >
                </div>
                <div class="documents-container__item">
                  <div class="documents-container__item--text">Induccion</div>
                  <mat-icon
                    *ngIf="item.inductionStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.inductionStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.inductionStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.inductionStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Expirado"
                  >
                    alarm</mat-icon
                  >
                </div>

                <!-- <div class="documents-container__item">
                  <div class="documents-container__item--text">
                    F. Sintomatológica
                  </div>
                  <mat-icon
                    *ngIf="item.symptomatologyStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.symptomatologyStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.symptomatologyStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.symptomatologyStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Expirado"
                  >
                    alarm</mat-icon
                  >
                </div> -->

                <div class="documents-container__item">
                  <div class="documents-container__item--text">LOTO</div>
                  <mat-icon
                    *ngIf="item.lotoStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.lotoStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.lotoStatus === 'unassigned'"
                    class="documents-container__item--icon-unassigned"
                    matTooltip="Sin asignar"
                  >
                    help</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.lotoStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Expirado"
                  >
                    alarm</mat-icon
                  >
                </div>

                <div class="documents-container__item">
                  <div class="documents-container__item--text">E. Médico</div>
                  <mat-icon
                    *ngIf="item.medicalExaminationStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Rechazado"
                    >cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.medicalExaminationStatus === 'pending'"
                    class="documents-container__item--icon-pending"
                    matTooltip="En revisión"
                  >
                    published_with_changes</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.medicalExaminationStatus === 'unassigned'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Sin examen"
                  >
                    cancel</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.medicalExaminationStatus === 'approved'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.medicalExaminationStatus === 'expired'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Sin asignar"
                  >
                    alarm</mat-icon
                  >
                </div>
                <div class="documents-container__item">
                  <div class="documents-container__item--text">
                    C. Vacunación
                  </div>
                  <!-- vaccines -->
                  <mat-icon
                    *ngIf="item.doseStatus === 'unassigned'"
                    class="documents-container__item--icon-pending"
                    matTooltip="En revisión"
                  >
                    published_with_changes</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.doseStatus === 'vaccinated'"
                    class="documents-container__item--icon-approved"
                    matTooltip="Aprobado"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.doseStatus === 'not-fully-vaccinated'"
                    class="documents-container__item--icon-expired"
                    matTooltip="Vacunas incompletas"
                    >vaccines</mat-icon
                  >
                  <mat-icon
                    *ngIf="item.doseStatus === 'rejected'"
                    class="documents-container__item--icon-rejection"
                    matTooltip="Sin carnet"
                    >cancel</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
