.container {
  padding: 2.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;

  .form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;

    &__label {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: rgba($color: #000000, $alpha: 0.5);
    }

    &__description {
      font-size: 0.8rem;
      color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .input {
      width: 100%;

      &--desktop {
        margin: 0px 1rem;
        max-width: 250px;
      }

      &--mobile {
        margin: 0.5rem 0px;
        // max-width: 350px;
      }
    }
  }
}

.logo-container {
  &--mobile {
    margin: 0.5rem 0px;
  }

  &--desktop {
    margin: 0px 1rem;
  }

  .logo-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    button {
      margin-right: 1rem;
    }
  }

  .custom-input-file {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 210, 210, 0.5);
    color: rgba(193, 193, 193, 1);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
    width: 225px;
    border: 1px solid #828282;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &--mobile {
      margin-bottom: 1rem;
    }
  }
}

.input-file {
  cursor: pointer;
  visibility: hidden;
  transform: scale(0);
}

.upLoad {
  margin-right: 200px;
}

.buttonEnd {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  color: black;
  background-color: rgba(255, 192, 0, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
