.container {
  background: #ffffff;
  position: absolute;
  width: 100%;
  min-height: 90vh;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;

    p {
      font-size: 18px;
      margin: 0px 5%;
    }
  }

  &__body {
    background: #f8f8f8;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    height: 90vh;

    .download {
      margin: 2rem 4rem 1rem 4rem;
    }
  }
}

.wrapper {
  // position: relative;
  // margin: 60px 3% 10px 5%;
  margin: 20px 5% 10px 5%;
}

.card {
  width: fit-content;

  &__header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;

    &--title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.7);
      padding-top: 10px;
    }

    &--save {
      margin-left: 50px;
      padding: 0px 30px 0px 30px;
      background: #ffc000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
    }
  }

  &__body {
    margin-right: 20px;
    width: 350px;
    height: 246px;
    background: #ffffff;
    border: 1px solid #f1eeee;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    &--header {
      display: flex;
      flex-direction: column;
    }

    &--body {
      margin-bottom: 20px;
    }

    &--item-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 7px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      /* or 200% */
      letter-spacing: 0.5px;
      color: #828282;
    }
  }
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 65px;
}
/*  .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
    background: #e0e0e0;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  } */

.mat-accordion .mat-expansion-panel {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
}
