.container {
  background: #ffffff;
  position: absolute;
  width: 100%;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // height: 50px;

    p {
      font-size: 18px;
      margin: 0px 5%;
    }
  }

  &__body {
    background: #f8f8f8;
    // border-top: 2px solid rgba(0, 0, 0, 0.2);
  }

  .actions {
    background: forestgreen;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    padding: 2% 5% 2% 5%;
  }
}

.gm-wrapper {
  margin: 0px 5% 10px 5%;
  padding-top: 10px;

  &__title {
    font-family: Quicksand;
    font-style: normal;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
  }
  &__text {
    font-family: Quicksand;
    font-style: normal;
    margin: 0px 0px 20px 0px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .form {
    &__input {
      width: 300px;
      margin-right: 30px;
      margin-bottom: 10px;
    }
    &__input-date {
      width: auto;
      margin-right: 30px;
      margin-bottom: 10px;
    }
  }

  &__formatFile {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: start;

    &--desktop {
      width: 250px;
      height: 100%;
      margin-right: 30px;
    }
    &--mobile {
      width: 170px;
      height: 100%;
      min-height: 256px;
      padding: 1rem 0;
    }

    &--title {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.7);
      padding: 0px 0px;
      margin: 0px 0px 0px 20px;
    }

    &--body {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &--link {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #2f80ed;
      margin-left: 20px;
    }

    &--error {
      font-size: 10px;
      color: red;
    }

    &--date-desktop {
      width: auto;
    }
    &--date-mobile {
      width: 140px;
    }
  }
  &__btn {
    background: #ffc000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px 60px;
    margin: 40px 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
}

.file-input {
  display: none;
}
