.container {
  width: 100%;
  height: 100%;
  background-image: url("../../../../../../assets/img/background_auth.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &--cardRegister {
    position: absolute;
    height: 500px;
    box-shadow: 0px 2.26893px 2.26893px rgba(0, 0, 0, 0.25);
  }
}

.textp {
  font-size: 10px;
  line-height: 11.72px;
  color: #00000099;
}

.error-form {
  color: red;
  font-size: 10px;
  line-height: 11.72px;
}

.mat-step-icon-state-edit {
  background-color: #ffd740;
  color: white;
}

.form-container {
  &--desktop {
    mat-form-field {
      margin-right: 1rem;
    }
  }

  &--mobile {
    mat-form-field {
      margin-right: 0;
    }
  }
}

.buttonEnd {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  color: black;
  background-color: rgba(255, 192, 0, 1);
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.btn-reject {
  border: 1px solid #eb5757;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5 px;
  padding: 0 px 37 px;
  margin: 1 px 20 px;
  height: 35px;
  padding-right: 20px;
  margin-right: 12px;
  background: #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #f24e1e;
  background-color: #f8f8f8;
}
