.container {
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  $quick-font: "Quicksand", sans-serif;

  &--desktop {
    padding: 2rem;
  }

  &--mobile {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .access-list {
    width: 100%;
    max-width: 520px;

    &--desktop {
      margin: 0 1rem;
    }

    &--mobile {
      margin: 1rem 0;
    }

    .search-collaborator {
      width: 100%;
      margin-bottom: 1rem;
    }

    .access-card {
      border-radius: 5px 5px;
      background-color: azure;

      .scan-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 1rem;
        background-color: azure;
        gap: 1rem;

        .company-card {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          padding: 22px;

          &--fontSpan {
            font-family: $quick-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
          }

          &--fontTitle {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.7);
          }

          &--statusProviderReg {
            font-family: $quick-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            background-color: #399bf1;
            padding: 4px 8px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }
          &--statusProviderEna {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bolder;
            font-size: 14px;
            line-height: 16px;
            background-color: #27ae60;
            padding: 2px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }
          &--statusProviderRej {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bolder;
            font-size: 14px;
            line-height: 16px;
            background-color: #eb5757;
            padding: 2px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }
        }

        .collaborator-card {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 10px;
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          padding: 22px;
          width: -webkit-fill-available;

          &__header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }

          &--fontSpan {
            font-family: $quick-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
          }

          &--fontTitle {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.7);
          }

          &--statusProviderReg {
            font-family: $quick-font;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            background-color: #399bf1;
            padding: 4px 8px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }
          &--statusProviderEna {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bolder;
            font-size: 14px;
            line-height: 16px;
            background-color: #27ae60;
            padding: 2px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }
          &--statusProviderRej {
            font-family: $quick-font;
            font-style: normal;
            font-weight: bolder;
            font-size: 14px;
            line-height: 16px;
            background-color: #eb5757;
            padding: 2px;
            border-radius: 5px;
            margin-left: 10px;
            color: #fff;
          }

          .indicator-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .document {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;

              &__iconApprove {
                color: #27ae60;
              }
              &__iconPending {
                color: #e5e5e5;
              }
              &__iconRejected {
                color: #eb5757;
              }
              &__iconExpired {
                color: #eb5757;
              }
              &__iconUnassigned {
                color: #9b51e0;
              }
              &__iconUndefined {
                color: #ffc000;
              }

              .caption {
                &__title {
                  font-family: $quick-font;
                  font-weight: bold;
                  font-size: 14px;
                  margin: 0px;
                }

                &__subtitle {
                  font-family: $quick-font;
                  font-size: 10px;
                }
              }
            }

            .file {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              width: 145px;

              &__current {
                background-color: #27ae60;
                color: #ffffff;
                font-family: $quick-font;
                font-size: 14px;
                text-align: center;
                width: 50px;
                border-radius: 5px;
                padding: 4px 8px;
              }
              &__deciduous {
                color: #ffffff;
                font-family: $quick-font;
                font-size: 14px;
                background-color: #eb5757;
                width: 50px;
                border-radius: 5px;
                padding: 4px 8px;
              }
              &__file {
                cursor: pointer;
                color: #2f80ed;
                font-size: 14px;
                text-decoration-line: underline;
                font-family: $quick-font;
                font-style: normal;
                font-weight: normal;
              }
            }
          }
        }

        .search-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        .visit-card {
          height: 100%;
          padding: 0.5rem 2rem;

          &__name {
            font-weight: 900;
          }
        }

        .title {
          font-family: Quicksand;
          font-size: 1rem;
          font-weight: 600;
          margin: 0px;
        }
      }

      .request-button {
        color: white;
        width: 100%;
      }

      .default {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &--scan {
          min-height: 66vh;
        }

        &--visit {
          min-height: 62vh;
        }

        &__title {
          text-align: center;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.5);
        }

        &__image {
          max-width: 300px;
          width: 80%;
        }
      }
    }
  }
}

.containerSpinner {
  background: rgba(0, 0, 0, 0.2);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  );

  &--scan {
    min-height: 66vh;
  }

  &--visit {
    min-height: 62vh;
  }
}

::ng-deep .mat-spinner circle {
  stroke: #ebba16 !important;
}

.spinnerMobil {
  margin-left: 100px;
  margin-top: 200px;
}

.list2 {
  padding: 60px;
  &__search {
    width: 62%;
    margin-left: 25px;
  }
  &__title {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.cards {
  width: 560px;
  height: 815px;
  margin-bottom: 30px;
  border: #c1c1c1;
  &__img {
    padding: 100px;
    padding-top: 200px;
  }
  &__img2 {
    padding: 130px;
    margin-top: 70px;
  }
  &__titleImg {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  &__header {
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &--title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.7);
    }
    &--input {
      font-size: 13px;
      margin-left: 20px;
    }
    &--btn-add {
      display: flex;
      flex-direction: row;
      width: 140px;
      height: 35px;
      background: rgba(255, 192, 0, 0.4);
      border-radius: 5px;
      font-size: 1em;
      font-weight: 500;
      margin: 0px 0px 15px 0px;
    }
    &--icon {
      margin: 0px 0px 0px -8px;
      padding: 0px 0px;
    }
    &--text {
      font-size: 12px;
    }
    &--btn-add:nth-last-child(n) {
      margin-left: auto;
    }
  }
  &__divider {
    margin: 10px 20px 10px 20px;
  }
  &__body {
    margin: 20px 20px 10px 20px;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    .card {
      width: 490px;
      height: 50px;
      background: #ffffff;
      border: 0.5px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 10px 20px 0px;
      &__codigo {
        margin-left: 15px;
        font-size: 12px;
        &--text {
          font-weight: bold;
          font-size: 12px;
        }
      }
      &__validity {
        margin: 0px 15px 0px 15px;
        font-size: 12px;
        &--text {
          color: #27ae60;
          font-size: 12px;
        }
      }
      &__collaborator {
        font-size: 12px;
        &--text {
          font-weight: bold;
          font-size: 12px;
        }
      }
      &__menu:nth-last-child(n) {
        margin-left: auto;
      }
    }
  }
}

.cards2 {
  width: 493px;
  height: 830px;
  margin-bottom: 30px;
  border: #c1c1c1;
}

.cardsMobile {
  width: 330px;
  height: 100%;
  margin-bottom: 30px;
  margin-left: 8px;
  border: #c1c1c1;
}

.marginPending {
  margin-top: 19px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #27ae60;
  width: 100%;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  color: white;
  background-color: #f44336;
  width: 100%;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #41b53f;
  border: 1px solid;
  width: 100%;
  margin-bottom: 10px;
}

.cardCollaborator {
  width: 85vh;
  height: 100%;
  background: #ffffff;
  margin-bottom: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
}

.cardsVisit {
  &__cardsVisit-approve {
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin-bottom: 30px;
    border: 2px solid #27ae60;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  &__cardsVisit-pending {
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin-bottom: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
  }
  &__cardsVisit-rejected {
    width: 100%;
    height: 100%;
    background: #ffffff;
    margin-bottom: 30px;
    border: 2px solid #eb5757;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
  }
  &__statusVisit {
    width: 40px;
    height: 10px;
    left: 2px;
    top: 1px;
    border-radius: 5px;
  }
  &__fontBtn {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    background-color: #27ae60;
    position: static;
    text-align: center;
    width: 50px;
    border-radius: 5px;
  }
  &__fontBtn--rejected {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    background-color: #eb5757;
    position: static;
    text-align: center;
    width: 53px;
    border-radius: 5px;
  }
  &__fontSpan {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }
  &__pending {
    color: rgba(0, 0, 0, 0.5);
  }
  &__iconApprove {
    width: 25px;
    font-size: 35px;
    color: #27ae60;
  }
  &__iconPending {
    width: 25px;
    font-size: 35px;
    color: #e5e5e5;
  }
  &__iconRejected {
    width: 25px;
    font-size: 35px;
    color: #eb5757;
  }
  &__iconExpired {
    width: 25px;
    font-size: 35px;
    color: #eb5757;
  }
  &__iconUnassigned {
    width: 25px;
    font-size: 35px;
    color: #9b51e0;
  }
  &__iconUndefined {
    width: 25px;
    font-size: 35px;
    color: #ffc000;
  }
  &__titleDoc {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
  }
  &__spanDoc {
    font-family: "Quicksand", sans-serif;
    color: rgba(0, 0, 0, 0.4);
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    padding: 10px;
    margin-top: -38px;
  }
  &__fontCurrent {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    background-color: #27ae60;
    position: static;
    text-align: center;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px;
    margin-right: 10px;
  }
  &__fontDeciduous {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    background-color: #eb5757;
    position: static;
    text-align: center;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px;
    margin-right: 10px;
  }
  &__file {
    cursor: pointer;
    color: #2f80ed;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  hr {
    width: 491px;
    margin-left: -29px;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
  }
}

.validity-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 2.1rem;

  .vacCheck {
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #27ae60;
  }

  .vacUncheck {
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #625a5a;
  }
}
