.ms-dialog-header {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
    overflow-x: hidden;
    &__icon {
        color: rgba(0, 0, 0, 0.6);
        align-self: center;
        margin-right: 12px;
    }
    &__title {
        color: #2b2b2b;
        align-self: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #2b2b2b;
        margin: 0px !important;
    }
    &__close {
        height: 25px !important;
        width: 25px !important;
        line-height: 25px !important;
    }
    &__close:nth-last-child(n) {
        margin-left: auto;
    }
}

.container {
    width: 100%;
}

.ms-dialog-body {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
        font-size: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.8);
        // margin: 20px 0px 0px 50px;
        &--codigo {
            font-weight: bold;
        }
    }
    &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.6);
        margin: 0px 0px 10px 0px;
    }
    &__btn-cancel {
        // width: 150px;
        // height: 35px;
        background: #ffffff;
        color: red;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: 1px solid red;
        // margin: 50px 0px 30px 10px;
    }
    &__btn-register {
        // width: 150px;
        // height: 35px;
        background: #FFC000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-left: 12px;
        // margin: 50px 0px 30px 10px;
    }
}