.dialog-content {
  mat-form-field {
    width: 100%;
  }
}

.buttonEnd {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: #eb5757;
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.btn-reject {
  border: 1px solid #eb5757;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5 px;
  padding: 0 px 37 px;
  margin: 1 px 20 px;
  height: 35px;
  padding-right: 20px;
  margin-right: 12px;
  background: #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #f24e1e;
  background-color: #f8f8f8;
}
