:host ::ng-deep .mat-menu-item {
  font-family: "Quicksand";
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;

  &--desktop {
    padding: 1.5rem 2rem;
  }

  &--mobile {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .tools {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // background-color: red;
    align-items: start;
    width: auto;

    button {
      color: white;
      font-family: "Raleway";
      font-weight: 500;
      font-size: 12px;
    }

    // styles for search input
    mat-form-field.search {
      width: 300px;
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      mat-label {
        font-family: "Quicksand";
      }

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      ::ng-deep .mat-mdc-form-field-flex {
        height: 36px;
      }

      ::ng-deep
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined
        .mdc-notched-outline--upgraded
        .mdc-floating-label--float-above {
        --mat-mdc-form-field-label-transform: translateY(-23.75px)
          scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
      }

      ::ng-deep
        .mat-mdc-text-field-wrapper
        .mat-mdc-form-field-flex
        .mat-mdc-floating-label {
        top: 17px;
        font-size: 12px;
      }

      ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
        background-color: rgba(0, 0, 0, 0) !important;
        height: 36px;
      }

      ::ng-deep
        .mat-mdc-text-field-wrapper.mdc-text-field--outlined
        .mat-mdc-form-field-infix {
        padding-top: 10px;
        padding-bottom: 0px;
      }

      ::placeholder {
        color: rgba(43, 43, 43, 0.6);
      }

      ::ng-deep .mat-text-field--outlined-wrapper {
        height: 30px;
      }
    }
  }

  .locations-container {
    width: 80%;

    .location {
      &__title {
        font-family: "Quicksand";
        font-weight: 600;
      }
      &__edit {
        // width: 16px;
        // height: 16px;
        mat-icon {
          width: 16px;
          height: 16px;
          font-size: 16px;
          line-height: 16px;
        }
      }

      &__description {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-family: "Quicksand";
      }

      &__accounts-container {
        .tools {
          button {
            color: #2b2b2b;
          }
        }
      }

      &__table-container {
        .table {
          &__header {
            font-family: 'Quicksand';
            font-weight: 600;
          }
          &__cell {
            font-family: 'Quicksand';
          }
        }
      }
    }
  }
}

::ng-deep .mdc-list-item__primary-text {
  font-family: "Quicksand" !important;
  font-size: 12px !important;
}
