.container {
  padding: 2.5rem;
  background: #f8f8f8;
  &--btn-enabled {
    position: static;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(39, 174, 96, 1);
    padding: 12px;
    width: 130px;
    height: 45px;
    left: 13.5px;
    top: 12px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  &--btn-request {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 82px;
    height: 24px;
    top: 5.5px;
    background: rgba(255, 192, 0, 0.4);
    border-radius: 5px;
    margin: 0px 0px 0px 15px;
    font-size: 13px;
  }
  &--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    margin-top: 30px;
    width: 500px;
    height: 724px;
    left: 81px;
    top: 108px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
  }
  &--cards {
    margin: 20px 20px 10px 20px;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    .card2 {
      width: 420px;
      background: #ffffff;
      margin-bottom: 10px;
      border: 0.5px solid rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      &__header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-left: 15px;
      }
      &__request {
        font-size: 12px;
        &--text {
          font-weight: bold;
          font-size: 12px;
        }
      }
      &__position {
        margin: 0px 15px 0px 15px;
        font-size: 12px;
        &--text {
          font-weight: bold;
          font-size: 12px;
        }
      }
      &__visitDate {
        margin-left: 20px;
        font-size: 12px;
        &--text {
          font-weight: bold;
          font-size: 12px;
        }
      }
      &__menu:nth-last-child(n) {
        margin-left: auto;
      }
      &__body {
        margin: 12px 0px 0px 10px;
      }
      &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -20px;
      }
      &__item {
        width: fit-content;
        height: 26px;
        background: #ffffff;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        margin-left: 16px;
        margin-bottom: 16px;
        &--approved {
          font-size: 10px;
          margin: 3px 0px 5px 5px;
          font-weight: bold;
        }
        &--pending {
          font-size: 10px;
          margin: 3px 0px 5px 5px;
          font-weight: bold;
        }
        &--rejection {
          font-size: 10px;
          margin: 3px 0px 5px 5px;
          font-weight: bold;
        }
        &--icon-approved {
          font-size: 15px;
          margin: 4px 0px 5px 5px;
          color: #27ae60;
        }
        &--icon-pending {
          font-size: 15px;
          margin: 4px 0px 5px 5px;
          color: rgba(128, 128, 128, 1);
        }
        &--icon-rejection {
          font-size: 15px;
          margin: 4px 0px 5px 5px;
          color: rgba(235, 87, 87, 1);
        }
      }
    }
  }
  &--title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: black;
    padding: 20px;
  }
}

.wrapper {
  margin: 0px 5vw 10px 5vw;
  &__status {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    &--registered {
      background: #2f80ed;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 20px;
      width: 150px;
      height: 45px;
      font-weight: bold;
    }
    &--enabled {
      background: #27ae60;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 20px;
      width: 150px;
      height: 45px;
      font-weight: bold;
    }
    &--disabled {
      background: #eb5757;
      color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 20px;
      width: 150px;
      height: 45px;
      font-weight: bold;
    }
    &--btn {
      width: auto;
      height: 35px;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0px 25px 0px 25px;
      display: flex;
      flex-direction: row;
    }
    &--icon {
      font-size: 1.5em;
      margin: 8px 5px 0px 0px;
      color: #27ae60;
    }
    &--text {
      margin: 10px 0px 0px 0px;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    &--left {
      width: 50%;
      margin-right: 50px;
    }
    &--right {
      width: 50%;
    }
  }
}

.cancel {
  color: #eb5757;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  margin: 12px 0px 10px 25px;
}
