.textp {
  font-size: 10px;
  line-height: 11.72px;
  color: #00000099;
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 12px;

  button {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
  }
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 20px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.error-form {
  color: red;
  font-size: 10px;
  line-height: 11.72px;
}

.mat-step-icon-state-edit {
  background-color: #ffd740;
  color: white;
}

.buttonEnd {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  color: black;
  background-color: rgba(255, 192, 0, 1);
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.buttonPrevious {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: black 1px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.logo-container {
  align-self: start;

  .custom-input-file {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 210, 210, 0.5);
    color: rgba(193, 193, 193, 1);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    text-justify: center;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #828282;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.custom-input-file .input-file {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  margin: 0;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
  font-family: Poppins;
}

.provider-logo {
  margin: 0px 0px 24px 0px;

  button {
    width: 212px;
    height: 60px;
  }

  mat-progress-bar {
    width: 212px;
  }
}

.logo-result {
  display: flex;
  align-items: center;
  border: 1px dashed;
  border-radius: 10px;
  width: 212px;
  padding: 8px 24px 8px 8px;
  margin-bottom: 12px;

  img {
    width: 190px;
  }
}

.upLoad {
  margin-right: 200px;
}

.btn-reject {
  border: 1px solid #eb5757;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5 px;
  padding: 0 px 37 px;
  margin: 1 px 20 px;
  height: 35px;
  padding-right: 20px;
  margin-right: 12px;
  background: #f8f8f8;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #f24e1e;
  background-color: #f8f8f8;
}
