<div class="dialog-header">
  <mat-icon class="dialog-header__icon">domain</mat-icon>
  <span class="dialog-header__title">Nuevo proveedor</span>
  <span class="fill"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="dialog-header__close">close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="loading$ | async"
></mat-progress-bar>
<mat-dialog-content>
  <mat-stepper orientation="horizontal">
    <mat-step>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datos Personales</ng-template>
        <div>
          <h3>Cuenta de acceso</h3>
          <p class="textp">
            Correo y contraseña de acceso. Estas son las credenciales que usarás
            para ingresar a plataforma
          </p>
        </div>
        <div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Correo</mat-label>
              <input
                matInput
                type="text"
                id="email"
                placeholder="Correo"
                required
                formControlName="email"
              />
              <mat-error *ngIf="firstFormGroup.controls['email'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="Contraseña"
                id="password"
                required
                formControlName="password"
              />
              <mat-error *ngIf="firstFormGroup.controls['password'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Repetir Contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="Repetir Contraseña"
                id="password2"
                required
                formControlName="password2"
              />
              <mat-error *ngIf="firstFormGroup.controls['password2'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="error-form">
            <p *ngIf="invalidField('email')">*El email es obliatorio</p>
            <p *ngIf="passwordInvalid()">* Las contraseñas deben ser iguales</p>
          </div>
        </div>
        <div>
          <h3>Información de usuario responsable</h3>
          <p class="textp">
            Saber quien eres y tener algunos datos adicionales, nos ayuda a
            saber como comunicarnos contigo.
          </p>
        </div>

        <div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input
                type="text"
                matInput
                placeholder="Nombre"
                id="name"
                formControlName="name"
                required
              />
              <mat-error *ngIf="firstFormGroup.controls['name'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Apellido</mat-label>
              <input
                type="text"
                matInput
                placeholder="Apellido"
                id="lastname"
                formControlName="lastname"
                required
              />
              <mat-error *ngIf="firstFormGroup.controls['lastname'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>DNI</mat-label>
              <input
                type="number"
                matInput
                placeholder="DNI"
                id="dni"
                formControlName="dni"
                required
              />
              <mat-error *ngIf="firstFormGroup.controls['dni'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Cargo</mat-label>
              <input
                type="text"
                matInput
                placeholder="Cargo"
                id="charge"
                formControlName="charge"
                required
              />
              <mat-error *ngIf="firstFormGroup.controls['charge'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Teléfono</mat-label>
              <input
                type="number"
                matInput
                placeholder="Teléfono"
                id="phone"
                formControlName="phone"
                required
              />
              <mat-error *ngIf="firstFormGroup.controls['phone'].errors">
                Campo <strong>requerido.</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="error-form">
            <p *ngIf="invalidField('name')">*El nombre es obliatorio</p>
            <p *ngIf="invalidField('lastName')">*El apellido es obliatorio</p>
            <p *ngIf="invalidField('dni')">*El dni es obliatorio</p>
            <p *ngIf="invalidField('charge')">*El cargo es obliatorio</p>
            <p *ngIf="invalidField('phone')">*El telefono es obliatorio</p>
          </div>
        </div>
        <br />
        <div class="actions-container">
          <button
            mat-stroked-button
            color="warn"
            mat-dialog-close
            [disabled]="loading$ | async"
          >
            Cancelar
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            Continuar
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Datos de la empresa</ng-template>

        <div>
          <h3>Información básica</h3>
          <p class="textp">Datos básicos de empresa</p>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Nombre de la empresa</mat-label>
            <input
              matInput
              type="text"
              placeholder="Nombre empresa"
              id="companyName"
              required
              formControlName="companyName"
            />
            <mat-error *ngIf="secondFormGroup.controls['companyName'].errors">
              Campo <strong>requerido.</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>RUC</mat-label>
            <input
              matInput
              type="number"
              placeholder="RUC"
              id="companyRuc"
              required
              formControlName="companyRuc"
            />
            <mat-progress-bar
              mode="indeterminate"
              *ngIf="checkingRuc$ | async"
            ></mat-progress-bar>
            <mat-error *ngIf="secondFormGroup.controls['companyRuc'].errors">
              Campo <strong>requerido.</strong>
            </mat-error>
            <mat-hint>{{ rucMessage }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Dirección fiscal</mat-label>
            <input
              matInput
              type="text"
              id="companyAddress"
              placeholder="Urb. El Mirador de la Alameda, Bloque  ..."
              required
              formControlName="companyAddress"
            />
            <mat-error
              *ngIf="secondFormGroup.controls['companyAddress'].errors"
            >
              Campo <strong>requerido.</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h3>Información complementaria</h3>
          <p class="textp">
            Estos datos nos ayudarán a reconocer mejor a tu empresa
          </p>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Rubro</mat-label>
            <input
              type="text"
              matInput
              placeholder="Rubro"
              id="companyField"
              formControlName="companyField"
              required
            />
            <mat-error *ngIf="secondFormGroup.controls['companyField'].errors">
              Campo <strong>requerido.</strong>
            </mat-error>
          </mat-form-field>

          <div>
            <div>
              <div class="provider-logo">
                <button
                  class="new-file"
                  mat-raised-button
                  (click)="upload.click()"
                >
                  LOGO
                </button>
                <mat-progress-bar
                  mode="indeterminate"
                  *ngIf="loadingLogo$ | async"
                ></mat-progress-bar>
                <input
                  style="display: none"
                  type="file"
                  accept="image/*"
                  #upload
                  (change)="onUpload(upload)"
                />
              </div>
              <div *ngIf="urlImage" class="logo-result">
                <img [src]="urlImage" alt="" width="200px" />
                <button
                  *ngIf="urlImage as url"
                  mat-icon-button
                  color="warn"
                  class="btn-delete"
                  (click)="deleteImage(url)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <!-- <div *ngIf="uploadPercent | async as pct">
              <div style="margin-top: -22px">
                <progress
                  class="progress is-info"
                  [value]="pct"
                  max="100"
                ></progress>
                {{ pct | number }}%
              </div>
            </div> -->
          </div>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Representante comercial</mat-label>
            <input
              type="text"
              matInput
              placeholder="Representante comercial"
              id="salesRepresentative"
              formControlName="salesRepresentative"
              required
            />
            <mat-error
              *ngIf="secondFormGroup.controls['salesRepresentative'].errors"
            >
              Campo <strong>requerido.</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Gerente general</mat-label>
            <input
              type="text"
              matInput
              placeholder="Gerente general"
              formControlName="ceo"
              required
            />
            <mat-error *ngIf="secondFormGroup.controls['ceo'].errors">
              Campo <strong>requerido.</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="error-form">
          <p *ngIf="invalidField('companyName')">*El nombre es obliatorio</p>
          <p *ngIf="invalidField('companyRuc')">*El apellido es obliatorio</p>
          <p *ngIf="invalidField('companyAddress')">*El dni es obliatorio</p>
        </div>

        <div class="error-form">
          <p *ngIf="invalidField('companyField')">*El nombre es obliatorio</p>
          <p *ngIf="invalidField('salesRepresentative')">
            *El apellido es obliatorio
          </p>
          <p *ngIf="invalidField('ceo')">*El CEO es obligatorio</p>
        </div>
      </form>
      <div>
        <br />
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading$ | async"
        ></mat-progress-bar>
        <br />
        <div class="actions-container">
          <button
            mat-stroked-button
            color="warn"
            mat-dialog-close
            [disabled]="loading$ | async"
          >
            Cancelar
          </button>
          <button mat-stroked-button matStepperPrevious>Regresar</button>
          <button
            mat-raised-button
            color="primary"
            (click)="createProvider()"
            [disabled]="
              firstFormGroup.invalid ||
              secondFormGroup.invalid ||
              urlImage === '' ||
              (loading$ | async) ||
              !validRuc
            "
          >
            Finalizar
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
