.title {
    color: #2b2b2b;
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px !important;
    padding: 11px;
}

.toolbar {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.menu-spacer {
    // position: static;
    // width: 89px;
    height: 16px;
    left: 46px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    &--mat-icon {
        padding: 20px;
    }
}

.btnClose {
    color: #464646;
    // background-color: #F8F8F8;
}

.container {
    background: #f8f8f8;
    position: absolute;
    width: 100%;
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        // height: 50px;
        p {
            font-size: 18px;
            margin: 0px 5%;
        }
    }
    &__body {
        background-color: #f8f8f8;
        margin: -23px;
        // border-top: 2px solid rgba(0, 0, 0, 0.2);
        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

.gm-wrapper {
    margin: 0px 5% 10px 5%;
    padding-top: 10px;
    background-color: rgba(248, 248, 248, 1);
    &__title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        margin: 0px 0px 10px 0px;
        font-weight: bold;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        margin: 0px 0px 20px 0px;
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__row {
        display: flex;
        flex-direction: row;
    }
    .form {
        &__input {
            width: 250px;
            margin-right: 30px;
            margin-bottom: 10px;
        }
        &__input-date {
            width: auto;
            margin-right: 30px;
            margin-bottom: 10px;
        }
    }
    &__formatFile {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 5px;
        text-align: start;
        &--desktop {
            width: 250px;
            height: 215px;
            margin-right: 30px;
        }
        &--mobile {
            width: 150px;
            height: 215px;
            margin-right: 10px;
        }
        &--title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.7);
            padding: 0px 0px;
            margin: 0px 0px 0px 20px;
        }
        &--body {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &--link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #2f80ed;
            margin-left: 20px;
        }
        &--error {
            font-size: 10px;
            color: red;
        }
        &--date-desktop {
            width: auto;
        }
        &--date-mobile {
            width: 140px;
        }
    }
    &__btn {
        background: #ffc000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 5px 60px;
        margin: 40px 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }
    &--formatFile {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 5px;
        text-align: start;
        width: 250px;
        margin-bottom: 20px;
        &--desktop {
            width: 250px;
            height: 215px;
            margin-right: 30px;
        }
        &--mobile {
            width: 150px;
            height: 215px;
            margin-right: 10px;
        }
        &--title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.7);
            padding: 0px 0px;
            margin: 0px 0px 0px 15px;
        }
        &--link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #2f80ed;
            margin: 0px 0px 0px 15px;
        }
        &--error {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: red;
            margin: 0px 0px 0px 15px;
        }
        &--date-desktop {
            width: auto;
        }
        &--date-mobile {
            width: 140px;
        }
    }
}

.file-input {
    display: none;
}

.btn-register {
    background: #ffc000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 8px 12px;
}

.file-link {
    text-decoration: none;
    margin-right: 50px;
}

.files-name {
    font-size: 1em;
    margin-left: 14px;
}