.ms-dialog-body {
  &__title {
    font-size: 12px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0px 0px 8px 0px;
  }
  &__text {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 10px 0px;
  }
  &__form {
    &--input {
      width: 250px;
      margin: 0px 15px 15px 0px;
    }
  }
  &__formatFile {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: start;
    width: 250px;
    margin-bottom: 20px;
    &--desktop {
      width: 250px;
      height: 215px;
      margin-right: 30px;
    }
    &--mobile {
      width: 150px;
      height: 215px;
      margin-right: 10px;
    }
    &--title {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.7);
      padding: 0px 0px;
      margin: 0px 0px 0px 15px;
    }
    &--link {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #2f80ed;
      margin: 0px 0px 0px 15px;
    }
    &--error {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      color: red;
      margin: 0px 0px 0px 15px;
    }
    &--date-desktop {
      width: auto;
    }
    &--date-mobile {
      width: 140px;
    }
  }
  &__file-input {
    display: none;
  }
  .files {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    &__link {
      text-decoration: none;
      margin-right: 50px;
    }
    &__name {
      font-size: 1em;
    }
  }
  &__header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    &--title {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.7);
      padding-top: 10px;
    }
    &--save {
      margin-left: 50px;
      border: 1px #6200ee solid;
      background: #6200ee;
      color: white;
      padding: 0px 30px 0px 30px;
    }
  }
  &__body {
    margin-right: 20px;
    margin-top: 20px;
    width: 350px;
    background: #ffffff;
    /* border: 1px solid #f1eeee;
              box-sizing: border-box;
              box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
          */
    border-radius: 10px;
    &--header {
      display: flex;
      flex-direction: column;

      p {
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.9);
        padding: 4px;
        background-color: #ea4c4c;
        border-radius: 4px;
      }
    }
    &--loading {
      margin: 10px 0px;
    }
    &--body {
      margin-bottom: 20px;
      height: 300px;
      overflow: hidden;
      overflow-y: scroll;
    }
    &--item-list {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.5px;
      color: #828282;
      padding: 0px 1rem;
    }

    .notExist {
      background-color: #fb94947b;
    }
  }
  &__btn-register {
    // width: 150px;
    // height: 35px;
    background: #ffc000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 8px 12px;
  }
}

.mat-dialog-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
