mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: Quicksand;

  .info {
    padding: 12px 6px;
    background-color: #2f80ed26;
    border-radius: 10px;
    font-family: "Quicksand";
    font-size: 12px;
    font-weight: 400;
    color: #2b2b2b;
  }

  form {
    width: 90%;
  }

  mat-form-field {
    width: 100%;
  }
}
